<div class="container mt-4">
    <div>
      <h1>Student Registration</h1>
    </div>
  
    <form [formGroup]="studentForm" (ngSubmit)="isUpdateFormActive ? updateStudent() : save()">
      <div class="form-group">
        <label for="">Student Name</label>
        <input type="text" formControlName="stname" class="form-control" id="stname">
        <div *ngIf="studentForm.get('stname')?.touched && studentForm.get('stname')?.invalid" class="text-danger">
          <small *ngIf="studentForm.get('stname')?.errors?.['required']">Student Name is required.</small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="">Course</label>
        <input type="text" formControlName="course" class="form-control" id="course">
        <div *ngIf="studentForm.get('course')?.touched && studentForm.get('course')?.invalid" class="text-danger">
          <small *ngIf="studentForm.get('course')?.errors?.['required']">Course is required.</small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="">Fee</label>
        <input type="text" formControlName="fee" class="form-control" id="fee">
        <div *ngIf="studentForm.get('fee')?.touched && studentForm.get('fee')?.invalid" class="text-danger">
          <small *ngIf="studentForm.get('fee')?.errors?.['required']">Fee is required.</small>
          <small *ngIf="studentForm.get('fee')?.errors?.['pattern']">Fee must be a number.</small>
        </div>
      </div>
  
      <div>
        <button *ngIf="!isUpdateFormActive" type="submit" class="btn btn-primary mt-4" [disabled]="studentForm.invalid">
          Save
        </button>
      </div>
  
      <div *ngIf="isUpdateFormActive">
        <button type="submit" class="btn btn-primary mt-4" [disabled]="studentForm.invalid">Update</button>&nbsp;
        <button class="btn btn-danger" (click)="resetForm()">Cancel</button>
      </div>
    </form>
  </div>
  